/* Layout */
.relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-20 {
  margin-top: 20rem;
}

/* Box Alignment - Justify Content*/
.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}
